<header>
	<div class="container_header">
		<nav class="nav_header_account">
			<ul class="list_grid_account">
				{% if email == "" %}
				<li>Bienvenue sur Equipe5 </li>
				<li><a href="{{base_url()}}/Connection">Connexion</a></li>
				<li><a href="{{base_url()}}/CreateAccount">Inscription</a></li>
			</ul>
		</nav>
		<div class="pres_header">
			<h1>Equipe5</h1>
		</div>
		<nav class="nav_menu">
		 	<ul class="list_grid_menu">
				<a class="homeButton fas fa-home" href="{{base_url()}}/"></a>
				<li ><a href="{{base_url()}}/ConsultAppelOffre">Consulter Appels Offres</a></li>
			</ul>
		</nav>
				{% else %}
				<li>Bienvenue sur Equipe5 </li>
				
				<li><a href="{{base_url()}}/Disconnection">Déconnexion</a></li>
			</ul>
		</nav>
		<div class="pres_header">
			<h1>Equipe5</h1>
		</div>
		<nav class="nav_menu">
		 	<ul class="list_grid_menu">
				<a class="homeButton fas fa-home" href="{{base_url()}}/"></a>
				<li ><a href="{{base_url()}}/ConsultAppelOffre">Consulter Appels Offres</a></li>
			</ul>
		</nav>
				{% if roleMember == 1 %}
				<li><a href="{{base_url()}}/AdminPrestations">Admin Prestations</a></li>
				{% endif %}
			</ul>
		</nav>
				{% endif %}
		<hr/>
	</div>
</header>